<% if @type == :inbox then %>
<%= link_to 'Outbox', '?outbox=1' %>
<% else %>
<%= link_to 'Inbox', '?inbox=1' %>
<% end %>
<table id="messages">
  <tr>
    <th class="username">From</th>
    <th>Subject</th>
	<th>Sent</th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr class="<%= message.read ? 'read' : 'unread' %>">
    <td class="username"><%= link_to message.sender.username, view_author_profile_path(message.sender) %></td>
    <td class="subject"><%= link_to message.subject, message %></td>
	<td class="date"><%= message.created_at.strftime('%d/%m/%y %H:%M') %></td>
    <td class="delete"><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

