<div id="devisePage">
<h2>Edit Author</h2>

<%= form_for @author, :html => { :method => :put, :multipart => true} do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :username %> <br />
  <%= f.text_field :username %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :bio %><br />
  <%= f.text_area :bio, :class=>'maxwidth' %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :photo %><br />
  <%= f.file_field :photo %></p>

  <% if can? :update, Author then %>
  <p>
    <%= f.label :roles %><br />
    <% for role in Author::ROLES %>
      <%= check_box_tag "author[roles][]", role, @author.roles.include?(role) %>
      <%=h role.humanize %><br />
    <% end %>
    <%= hidden_field_tag "author[roles][]", "" %>
  </p>
  <% end %>


  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Delete", @author, :confirm => "Are you sure?", :method => :delete %>.</p>

</div>
