<table id="profile">
<tr>
<td id="profilePhoto">
<%= image_tag @author.photo.url(:profile) %>
</td>
<td>
<span id="profileUsername"><%= sanitize(@author.username, :tags=>'') %></span>
<br>
<p class="storyCount">
<%= @author.stories.public_stories.length %>
<% if @author.stories.public_stories.length == 1 then %>
Story
<% else %>
Stories
<% end %>
</p>
<p class="fanCount">
	<%= @author.fans.length %>
	<% if @author.fans.length == 1 then %>
		Fan
	<% else %>
		Fans
	<% end %>
</p>
<div id="profileLinks">
<% if @author != current_author then %>
	<div id="fanButton">
		<% if @author.fans.index(current_author) == nil then %>
			<%= link_to 'Fave', fan_author_path(@author), :class=>'fanButton', :remote=>true%>
		<% else %>
			<%= link_to 'De-Fave', defan_author_path(@author), :class=>'fanButton', :remote=>true%>
		<% end %>
	</div>
	<div id="messageButton">
		<%= link_to "Message", "todo", :class=>'messageButton'%>
	</div>
<% end %>
</div>
</td>
</tr>
<tr>
<td colspan="2" id="profilebio">
<div id="profileCol1">
<h2 class="profileheader">Stories</h2>
<ul class="profileStories">
<% @author.stories.public_stories.each do |story| %>
<li><%= link_to story.title, story %></li>
<% end %>
</ul>
<h2 class="profileheader">Favorite Authors</h2>
<% sep = '' %>
<% @author.fave_authors.each do |fave| %>
<%= sep %>
<%= link_to fave.author.username, view_author_profile_path(fave.author) %>
<% sep = ',' %>
<% end %>
</div>
<div id="profileCol2">
<%= simple_format(sanitize(@author.bio, :tags=>'')) %>
</div></td></tr>
</table>
