<table id="profile">
<tr>
<td id="profilePhoto">
<%= image_tag @author.photo.url(:profile) %>
</td>
<td>
<span id="profileUsername"><%= sanitize(@author.username, :tags=>'') %></span>
<br>
<p class="storyCount">
<%= @author.stories.public_stories.length %>
<% if @author.stories.public_stories.length == 1 then %>
Story
<% else %>
Stories
<% end %>
</p>
</td>
</tr>
<tr>
<td colspan="2" id="profilebio"> <%= simple_format(sanitize(@author.bio, :tags=>'')) %> </td>
</tr>
</td>
<td colspan="2">
<ul>
<% @author.stories.public_stories.each do |story| %>
<li><%= link_to story.title, story %></li>
<% end %>
</ul>
</td>
</tr>
</table>
