<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @setting.summary %>
</p>

<p>
  <b>Story:</b>
  <%= @setting.story %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
