<table class="storyList">
<tr>
<th class="storyTitle">Title</th>
<th class="storyStat">PP</th>
<th class="storyStat">C</th>
<th class="storyStat">SF</th>
<th class="storyAuthor">Author</th>
</tr>
<% @stories.each do |story| %>
<tr class="storyListLine">
<td class="storyTitle"><%= link_to story.title, story %></td>
<td class="storyStat"><%= story.plotpoints.length%></td>
<td class="storyStat"><%= story.characters.length%></td>
<td class="storyStat"><%= (story.setting == nil) ? 0 : story.setting.features.length%></td>
<td class="storyAuthor"><%= link_to story.author.username, view_author_profile_path(story.author) %></td>
</tr>
<% end %>
</table>
