<% if author_signed_in? && @story.author == current_author then %>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Delete', @story, :method=>:delete, :confirm=>'Are you sure?' %>
<% end %>

<div id="storyTitle">
  <%= @story.title %>
</div>
<p class="fanCount">
	<%= @story.fans.length %>
	<% if @story.fans.length == 1 then %>
		Fan
	<% else %>
		Fans
	<% end %>
</p>
<% if author_signed_in? && @story.author != current_author then %>
	<div id="fanButton">
		<% if @story.fans.index(current_author) == nil then %>
			<%= link_to 'Fave', story_fan_path(@story), :class=>'fanButton', :remote=>true%>
		<% else %>
			<%= link_to 'De-Fave', story_defan_path(@story), :class=>'fanButton', :remote=>true%>
		<% end %>
	</div>
<% end %>
<ul id="notebooks">
	<li>
	<%= link_to "Plot Points", story_plotpoints_path(@story) %>
	</li>
	<li>
	<%= link_to "Characters", story_characters_path(@story) %>
	</li>
	<li>
	<% if @story.setting == nil then %>
	<%= link_to "Setting", new_story_setting_path(@story) %>
	<% else %>
	<%= link_to "Setting", @story.setting %>
	<% end %>
	</li>
</ul>


