<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Delete', 'asdf' %>

<div id="storyTitle">
  <%= @story.title %>
</div>
<ul id="notebooks">
	<li>
	<%= link_to "Plot Points", story_plotpoints_path(@story) %>
	</li>
	<li>
	<%= link_to "Characters", story_characters_path(@story) %>
	</li>
	<li>
	<% if @story.setting == nil then %>
	<%= link_to "Setting", new_story_setting_path(@story) %>
	<% else %>
	<%= link_to "Setting", @story.setting %>
	<% end %>
	</li>
</ul>


