<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @character.birthdate %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Hometown:</b>
  <%= @character.hometown %>
</p>

<p>
  <b>Parents:</b>
  <%= @character.parents %>
</p>

<p>
  <b>Other:</b>
  <%= @character.other %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
