<% if can? :manage, @feature then %>
<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Delete', @feature, :method=>:delete, :confirm=>'Are you sure?' %>
<% end %>
<p id="notice"><%= notice %></p>
<div id="indexCard">
<div id="indexCardTop">
  <%= sanitize @feature.summary, :tags => ''%>
</div>
<div id="indexCardBottom">
  <%= simple_format(sanitize(@feature.detail, :tags => '')) %>
</div>
</div>
