<!DOCTYPE html>
<html>
<head>
  <title>Plotter</title>
  <%= stylesheet_link_tag "layout.css" %>
  <%= javascript_include_tag "jquery.min.js", "jquery_ujs.js", "jquery-ui-1.8.14.custom.min.js", "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="page">
<%= link_to 'Home', root_path, :class => 'logo'%>
<% if author_signed_in? then %>
<%= link_to 'Sign Out', destroy_author_session_path, :class => 'userControlLink' %>
<%= link_to 'Edit', edit_author_registration_path, :class => 'userControlLink' %>
<% else %>
<%= link_to 'Register', new_author_registration_path, :class => 'userControlLink'%>
<%= link_to 'Sign In', new_author_session_path, :class => 'userControlLink' %>
<% end %>
<%= link_to 'Stories', stories_path, :class => 'userControlLink' %>
<%= link_to 'Authors', authors_path, :class => 'userControlLink' %>
<div class="clear"></div>
<% if @breadcrumbs %>
	<div id="breadcrumbs">
	<% @breadcrumbs[0..-2].each do |txt, path| %>
		<%= link_to(h(txt), path, :class => 'breadcrumb') %> >
	<% end %>
	<%= h(@breadcrumbs.last.first) %>
	</div>
<% end %>
<div class="clear"></div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p class="error"><%= flash[:error] %></p>
<p>
</p>

<div id="desk">
<%= yield %>
</div>
</div>
<div id="legal">
&copy; 2011 Adam Hobaugh
</div>
</div>
</body>
</html>
